.contact-form__content {
    margin: 0 auto;
    max-width: 1230px;
    padding: 100px 40px;
}

.contact-form__heading {
    background-color: #ee6b69;
    text-align: center;
    margin-bottom: 40px;
}

.contact-form__heading h2 {
    font-family: 'Inika', serif;
    font-size: 32px;
    color: #8b7969;
}

.form {
    background-color: aqua;
    margin: 0 auto;
    width: 80%;
}

.form__group {
    background-color: bisque;
    display: flex;
    margin-bottom: 30px;
}

.form__group-title {
    background-color: cadetblue;
    width: 30%;
    padding-top: 10px;
    text-align: left;
}

.form__label--required {
    background-color: aliceblue;
    color: #ee6b69;
}

.form__group-content {
    background-color: coral;
    width: 70%;
}

.form__input--text input,
.form__input--select select,
.form__input--textarea textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #e0dfde;
    border-radius: 3px;
    background-color: #f4f4f4;
    box-sizing: border-box;
}

.form__input--text {
    display: flex;
    gap: 20px;
}

.telephone-flex {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form__input--text input {
    width: 100%;
}

.form__input--textarea textarea {
    height: 120px;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    padding: 10px;
    width: 20%;
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 3px;
    background: #8b7969;
    color: #fff;
    cursor: pointer;
}

.form__error {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
}