.header {
    background: #fff;
    border-bottom: 2px solid #F0F0EF;
}

.header__inner {
    max-width: 100%;
    margin: 0 auto;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header__logo {
    text-decoration: none;
    font-size: 32px;
    font-family: 'Inika', serif;
    color: #8b7969;
}

.header__nav {
    position: absolute;
    right: 70px;
}

.register-link, .login-link, .logout-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f4f4f4;
    color: #8b7969;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    border: 1px solid #f2ede6;
    font-size: 16px;
    font-family: 'Inika', serif;
    cursor: pointer;
}

.header-utilities {
    display: flex;
    align-items: center;
    position: absolute;
    right: 40px;
}